[Desktop Entry]
Version=1.0
Name=Emoji Picker
Comment=An emoji picker for Gnome based Linux desktops
Exec=gtk-emoji-picker
Icon=face-smile
Terminal=false
StartupNotify=false
Type=Application
Categories=GNOME;GTK;Tool;
